.cardNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  background-color: rgba(232, 232, 232, 0.4);
  color: rgb(114, 113, 113);
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.cardNav p {
  padding: 0.3rem 0.5rem;
}

.cardNav:hover {
  background-color: rgba(20, 20, 67, 0.9);
  color: white;
}

.active-cardnav {
  background-color: rgba(20, 20, 67, 0.9);
  color: white;
}
