.cardUser {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.9rem;
}

.cardUser__image {
  outline: solid 6px rgba(145, 145, 145, 0.2);
}
.cardUser__image:hover {
  cursor: pointer;
}

.cardUser__info-name {
  font-weight: 700;
}

.cardUser__info-user {
  font-size: 0.8rem;
  color: grey;
}
