.sidebar {
  flex: 0.05;
  background-color: white;
  padding: 1rem;
  box-shadow: 15px 0px 10px -15px rgb(178, 178, 178);
  border-radius: 15px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: 4rem;
}

.sidebar__nav-icon {
  color: grey;
}
.sidebar__nav-icon .rotate {
  text-transform: rotate(90deg);
}

.sidebar__nav-icon:hover {
  cursor: pointer;
  color: rgb(45, 98, 183);
}

.sidebar__settingsicon {
  margin-bottom: 1rem;
}
