.NFTstat {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.NFTstat__info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.NFTstat__info h5 {
  color: rgb(184, 184, 184, 0.5);
  font-size: 0.8rem;
}

.NFTstat__info p {
  font-size: 0.9rem;
}
